---
import Layout from '../layouts/Layout.astro'
import LandingHeader from '../components/Header.astro'
import HomePage from '../components/Homepage.astro'
import Models from '../components/Models.astro'
---

<Layout title='Electric Cars, Solar & Clean Energy | Tesla'>
	<LandingHeader />

	<main class='snap-y snap-mandatory w-screen h-screen overflow-auto'>
		<HomePage />
		<Models
			modelTitle='Model 3'
			bgModel='bg-model-3'
			description='After Federal Tax Credit'
			href='#'
			linkText='Starting at $32,740'
			demoDrive='#DemoDriveModel3'
			orderNow='#OrderModel3'
		/>
		<Models
			modelTitle='Model Y'
			bgModel='bg-model-y'
			description='After Federal Tax Credit'
			href='#'
			linkText='Starting at $39,990'
			demoDrive='#DemoDriveModelY'
			orderNow='#OrderModelY'
		/>
		<Models
			modelTitle='Model S'
			bgModel='bg-model-s'
			href='#'
			linkText='View Inventory'
			demoDrive='#DemoDriveModelS'
			orderNow='#OrderModelS'
		/>
		<Models
			modelTitle='Model X'
			bgModel='bg-model-x'
			href='#'
			linkText='View Inventory'
			demoDrive='#DemoDriveModelX'
			orderNow='#OrderModelX'
		/>
		<Models
			modelTitle='Solar Panels'
			bgModel='bg-solar-panels'
			href='#'
			linkText='Schedule a Virtual Consultation'
			orderNow='#OrderSolarPanels'
			learnMore='#LearnMoreSolarPanels'
		/>
		<Models
			modelTitle='Solar Roof'
			bgModel='bg-solar-roof'
			description='Produce Clean Energy From Your Roof'
			orderNow='#OrderSolarRoof'
			learnMore='#LearnMoreSolarRoof'
		/>
		<Models modelTitle='Accessories' bgModel='bg-accessories' href='#' shopNow='#ShopAccessories' />
	</main>
</Layout>
